<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/purecss.css">
        <link rel="stylesheet" href="css/icons.css">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="header">
            {% block header %}{% endblock %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div>
            {% block pages_list %}
            {% endblock %}
        </div>
        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>


