{% extends 'templates/base.html.twig' %}

{% block footer %}
    <ul class="footer-menu pure-menu pure-menu-horizontal pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">About us</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Privacy</a></li>
    </ul>
{% endblock %}
