{% extends 'templates/base.html.twig' %}

{% block header %}
    <div class="header-menu pure-menu pure-menu-horizontal">
        <a href="/home" class="pure-menu-heading pure-menu-link"><i class="fa fa-paper-plane-o">Tourist Map</i></a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/news" class="pure-menu-link"><i class="fa fa-newspaper-o"></i>
                    News</a></li>
            <li class="pure-menu-item"><a href="/places" class="pure-menu-link"><i class="fa fa-map-marker"></i>
                    Places</a></li>
            <li class="pure-menu-item"><a href="/events" class="pure-menu-link"><i class="fa fa-thumbs-o-up"></i>
                    Events</a></li>
            {% block header_items %}{% endblock %}
        </ul>
    </div>
    <div class="header-img">
        {% block header_img %}{% endblock %}
    </div>
{% endblock %}

{% block content %}
    asdf
{% endblock %}

{% block footer %}
    <ul class="footer-menu pure-menu pure-menu-horizontal pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">About us</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Privacy</a></li>
    </ul>
{% endblock %}
