{% extends 'templates/footer-only.twig' %}
{% block title %}Message{% endblock %}

{% block content %}
    <h1 align="center">{{title}}</h1></br>
    <div class="small-text"><h4 align="center"> {{ message }}</h4></div>
    <div align="center">Redirect in <span id="timer"></span></div>
    <script type="text/javascript">
        var count=10;
        document.getElementById("timer").innerHTML=count + " secs";
        var counter=setInterval(timer, 1000); //1000 will  run it every 1 second
        function timer(){
          count=count-1;
          if (count <= 0){
             clearInterval(counter);
             return;
          }
          document.getElementById("timer").innerHTML=count + " secs";
        }
    </script>
{% endblock %}

