{% extends 'templates/header-footer.twig' %}

{% block css %}
    <link rel="stylesheet" href="css/sign_in_up.css"/>
    <link rel="stylesheet" href="css/icons.css"/>
    <link rel="stylesheet" href="css/purecss.css">
{% endblock %}

{% block header_img %}
        <img src="img/sign-header.jpg" height="250" width="1220"/>
{% endblock %}
