{% extends 'sign/base.twig' %}
{% block title %}
    Sign Up
{% endblock %}

{% block header_items %}
    <li class="pure-menu-item sign-link-oposite">
        <a href="signin" class="pure-menu-link">Sign In <i class="fa fa-sign-in"></i></a>
    </li>
{% endblock %}

{% block content %}
    <h1 align="center">We are happy you are joining us!</h1>
    <div align="center" class="signup-form">
        <div class="signup-errors">{{ form_errors(form) }}</div>
        {{ form_start(form,{'attr':{'class':'pure-form pure-form-aligned'}}) }}
        <div class="form-item">{{ form_row(form.userName, {'attr':{'class':'pure-control-group'}}) }}</div>
        <div class="form-item">{{ form_row(form.email, {'attr':{'class':'pure-control-group'}}) }}</div>
        <div class="form-item password">
            {{ form_label(form.password.password) }}
            {{ form_widget(form.password.password) }}
        </div>
        <div class="form-item password">
            {{ form_label(form.password.confirm_password) }}
            {{ form_widget(form.password.confirm_password) }}
        </div>
        <div class="form-item">{{ form_row(form.age, {'attr':{'class':'pure-control-group age-input', 'min':'6', 'max':100}}) }}</div>
        <div class="form-item">{{ form_row(form.about, {'attr':{'class':'pure-control-group'}}) }}</div>
        <div class="submit">{{ form_row(form.terms_conditions, {'attr':{'class':'pure-control-group'}}) }}</div>
        <div>{{ form_row(form.save, {'attr':{'class':'pure-button '}}) }}</div>
        {{ form_end(form) }}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.country-select').change(function () {
                loadCities($(this).val());
            });
        });

        function loadCities(countryId) {
            $.get('', {countryId: countryId}, function (data) {
                $('.city-select').html('');
                $.each(data, function (index, element) {
                    $('.city-select').append(
                            '<option value="' + index + '">' + element + '</option>'
                    );
                });
            });
        }
    </script>

{% endblock %}

