{% extends 'sign/base.twig' %}
{% block title %}Sign In{% endblock %}

{% block header_items %}
<li class="pure-menu-item sign-link-oposite">
    <a href="registration" class="pure-menu-link">Sign Up <i class="fa fa-user-plus"></i></a>
</li>
{% endblock %}

{% block content %}
    <h1 align="center">Welcome back!</h1>
    <div align="center" class="signup-form">
        {{ form_start(form,{'attr':{'class':'pure-form pure-form-aligned'}}) }}
        <div class="signup-errors">{{ form_errors(form) }}</div>
        <div class="form-item">{{ form_row(form.nameEmail, {'attr':{'class':'pure-control-group'}}) }}</div>
        <div class="form-item">{{ form_row(form.password, {'attr':{'class':'pure-control-group'}}) }}</div>
        <div>{{ form_row(form.save, {'attr':{'class':'pure-button '}}) }}</div>
        {{ form_end(form) }}
    </div>
{% endblock %}

