{% extends 'templates/base.html.twig' %}
{% block title %}Admin{% endblock %}  

{% block content %}

    <h1 align="center"> Database reservation</h1>
    <div align="center">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_end(form) }}
    </div>

{% endblock %}

