{% extends 'templates/base.html.twig' %}
{% block title %}Sign In{% endblock %}  
{% block css %}
    <link rel="stylesheet" href="css/sign_in_up.css"/>
{% endblock %}

{% block content %}
    <h1 align="center" style="margin-top: 200px;">Administration Sign-In</h1>
    <div align="right" style="margin-left: 270px;" class="signup-form">
        {{ form_start(form,{'attr':{'class':'pure-form pure-form-aligned'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

