{% extends 'templates/header-footer.twig' %}

{% block header_img %}
    <img src="img/profile-header.jpg" height="200" width="1220"/>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/profile.css"/>
{% endblock %}

{% block header_items %}
    <li class="pure-menu-item">
        {% if userName != null %}
            <a href="/profile" class="header-signin-link pure-menu-link user-icon">
                <i class="fa fa-user"> Profile</i></a>
            <a href="/signout" class="header-signin-link pure-menu-link sign-out-icon">
                <i class="fa fa-sign-out">Sign Out</i></a>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <div class="avatar-img">
        <img src="img/avatar.jpg" height="200" width="200"/>
    </div>
    <div class="user-info">
        <div><b>Name:</b> {{ user.getUserName() }}</div>
        <div class="user-info-item"><b>E-mail:</b> {{ user.getEmail() }}</div>
        <div class="user-info-item"><b>Age:</b> {{ user.getAge() }}</div>
        <div class="user-info-item"><b>About:</b> {{ user.getAbout() }}</div>
        <div class="user-info-item"><b>Sign-Up Time:</b> {{ user.getSignUpTime|date("Y-m-d H:i:s") }}</div>
        <div class="user-info-item"><b>Account status:</b> 
        {% if user.getConfirmed() == 1 %}
            confirmed
        {% else %}
            unconfirmed
        {% endif %}</div>
    </div>
{% endblock %}