.content{
  height: 800px;;
}
.place-form .form-item label {
  width: 200px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.place-form .form-item input{
  margin-right:250px;
}
.place-form .form-item{
  width:760px;
  margin: 10px 0px 10px 0px;
}

.place-form{
  width: 850px;
  height: 750px;;
  margin: 0 auto;
}

.place-form div{
  margin-top:10px;
}

.place-form textarea{
  resize: none;
  width:450px;
  height:200px;
}

.place-form input{
  resize: none;
  width:450px;
  margin-right:100px;
}

.place-form label {
  width: 200px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 10px;
}

.pure-button{
  width:450px;
}
.browse input{
  width: 10px;
}

.b{
  width: 100px;
  float:right;
}