body {
    margin: 0 auto;
    background: lavender;
    width: 1260px;
    font-family: sans-serif;
    color: #565D64;
}


.header-menu {
    top: 0px;
    left: 0px;
    background: lightblue;
    height:40px;
    position: fixed;
    z-index:3;
}

.header-img {
    margin: 0px 20px 0px 20px;
}

.header-signin-link {
    float:left;
    width:60px;
}
.header-signup-link {
    margin-left: 470px;
    float:left;
    width:110px;
}

.content {
    background: #f0f0f0;
    border: 2px solid #cccccc;
    margin: 10px 20px 10px 20px;
    height: 763px;
}

.footer {
    background: #0d3349;
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.footer-menu {
    text-align: right;
    font-size: 80%;
}

.user-icon{
    margin-left: 520px;
    width: 60px;
}
.sign-out-icon{
    width: 80px;
}