.content{
  height: auto;
}

.searchBox{
  height: 300px;
  margin: 10px 10px 0px 10px;
}

.lastItem{
  height: auto;
  float: left;
  width: 372px;
  margin: 10px 10px 10px 15px;
}

.search-form .form-item{
  display: inline-block;
  float:left;
  margin: 0px 15px 10px 15px;
}

.search-form input {
  width: 300px;
  height: 50px;
}

.search-form{
  margin: 30px 30px 0px 90px;
}

.form-item .pure-button{
  width: 200px;
  height: 48px;
}

.small-image{
  float:left;
}

.small-item{
  background: #cdddeb;
  margin: 5px 0px 5px 0px;
}

.clear{
  clear: both;
}