.content {
  background: #f0f0f0;
  border: 2px solid #cccccc;
  margin: 10px 20px 10px 20px;
  height: auto;
  padding: 0px 10px 10px 10px;
}

.comments{
  border:3px dashed #ce4844;
  height: auto;
}

.new-comment{
  background: #d2e0e6;
  border: 1px solid #d1d1d1;
  padding: 5px 5px 5px 5px;
}
.new-comment textarea{
  resize: none;
  width:450px;
  height:100px;
  margin-right:100px;
}

.new-comment .form-item label {
  width: 200px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.new-comment .form-item input{
  margin-right:250px;
}
.new-comment .form-item{
  width:760px;
}

.post-item-field{
  margin-top:5px;
  margin-bottom: 5px;
}

.post-item-field{
  margin-top:5px;
  margin-bottom: 5px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 200%;
}
.rating .active{
  color: gold;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: gold;
}