.post-image{
  float: left;
  margin: 0px 10px 15px 0px;
}
.content {
  background: #f0f0f0;
  border: 2px solid #cccccc;
  margin: 10px 20px 10px 20px;
  height: auto;
  padding: 0px 10px 10px 10px;
}

.post-item{
  background: #d2e0e6;
  border: 1px solid #d1d1d1;
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
}


.actions{
  float:right;
  margin: 10px 0px 10px 0px;
  height: 30px;
  width: 150px;
}

.fa-plus{
  margin-top: 5px;
  width: 15px;
  height: 15px;
  background: #d1d1d1;
}

.clear{
  clear: both;
}

.title{
  width:300px;
  float:left;
}

.actions .pure-menu-link:hover{
  width: 15px;
  height: 15px;
  background: #cdbfe3;
}
.news-form{
  margin: 10px 0px 0px 10px;
}
.news-form .textarea-short{
  resize: none;
  width:750px;
  height:100px;
}

.news-form .textarea-full{
  resize: none;
  width:750px;
  height:400px;
}

.news-form input{
  resize: none;
  width:750px;
  margin-right:100px;
}

.news-form .form-item label {
  width: 200px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 10px;
}

.form-item input{
  width:750px;
}
.pages-number{
  margin: 5px 5px 5px 5px;
}

.page-number{
  width: 15px;
}

.pure-menu-link{
  color: #336666;
}

.header-news{
  height: 40px;
  margin-bottom: 20px;;
}

.pure-button{
}