.avatar-img{
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px 30px 10px 10px;
  border: 2px dashed #a6e1ec;
}

.user-info{ 
  margin: 20px 10px 10px 10px;  
}
.user-info-item{
  margin: 15px 10px 15px 10px;
}