input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.header-signin-link {
    float:left;
    width:60px;
}
.header-signup-link {
    margin-left: 540px;
    float:left;
    width:110px;
}

.sign-link-oposite{
    margin-left: 600px;
}

.signup-form{
    width: 500px;
    margin: 0 auto;
}

.signup-errors{
    color: lightcoral;
}

.small-text{
    width: 700px;
    margin: 0 auto;
}

.signup-form .form-item{
    padding:3px 0;
}

.signup-form .form-item label{
    width: 200px;
    display: block;
    float: left;
    text-align: right;
}

.signup-form .form-item input{
    width:250px;
}
.signup-form .form-item textarea{
    resize: none;
    width:250px;
    height:100px;
}
.signup-form .submit{
    float:left;
    text-align: center;
    margin: 15px 10px 15px 70px;
}

.signup-form .password{
    height: 46px;
}