{% extends 'templates/header-footer.twig' %}
{% block title %}
    Tourist Map
{% endblock %}   

{% block css %}
    <link rel="stylesheet" href="css/index.css"/>
{% endblock %}

{% block header_items %}
            <li class="pure-menu-item">
                {% if userName != null %}
                    <a href="/profile" class="header-signin-link pure-menu-link user-icon">
                        <i class="fa fa-user"> Profile</i></a>
                    <a href="/signout" class="header-signin-link pure-menu-link sign-out-icon">
                        <i class="fa fa-sign-out">Sign Out</i></a>
                {% else %}
                <a href="/registration" class="header-signup-link pure-menu-link">Registration
                    <i class="fa fa-user-plus"></i></a>
                <a href="{{ path('signin', {'page': 'home'}) }}" class="header-signin-link pure-menu-link">Sign In
                    <i class="fa fa-sign-in"></i></a>
                {% endif %}
            </li>
{% endblock %}

{% block header_img %}
    <img src="img/header.jpg" height="300" width="1220"/>   
{% endblock %}

{% block content %}
    <div class="searchBox">
        <div class="images">
            <img class="img" src="img/index/city1.jpg" height="170" width="235"/>
            <img class="img" src="img/index/city2.png" height="170" width="235"/>
            <img class="img" src="img/index/city3.png" height="170" width="235"/>
            <img class="img" src="img/index/city4.jpg" height="170" width="235"/>
            <img class="img" src="img/index/city5.jpg" height="170" width="235"/>
        </div>
        <div align="center" class="search-form">
            {{ form_start(form,{'attr':{'class':'pure-form pure-form-aligned'}}) }}
            <div class="signup-errors">{{ form_errors(form) }}</div>
            <div class="form-item">{{ form_row(form.country, {'attr':{'class':'pure-control-group'}}) }}</div>
            <div class="form-item">{{ form_row(form.city, {'attr':{'class':'pure-control-group'}}) }}</div>
            <div class="form-item">{{ form_row(form.search, {'attr':{'class':'pure-button '}}) }}</div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="lastItems">
        <div class="lastItem">
            {% for newitem in news %}
               <div class="small-item">
                <b>{{ newitem.getTitle() }} </b> </br>
                   <img class="small-image" src="img/news/{{newitem.getImageName}}" height="130" width="200"/>
                   {{ newitem.getShort() }}
               </div>
            {% endfor %}
        </div>
        <div class="lastItem">
            {% for place in places %}
            <div class="small-item">
                <b>{{ place.getName() }}</b></br>
                <img class="small-image" src="img/img-places/{{ place.getFotoName }}" height="130" width="200"/>
                {{ place.getShortDescription() }}
            </div>
            {% endfor %}
        </div>
        <div class="lastItem">
            {% for event in events %}
                <div class="small-item">
                    <b>{{ event.getTitle() }}</b></br>
                    <img class="small-image" src="img/events/{{ event.getImageName }}" height="130" width="200"/>
                    {{ event.getShort() }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="clear">
    </div>
{% endblock %}


