{% extends 'templates/header-footer.twig' %}
{% block title %}
    Events
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/news.css"/>
{% endblock %}

{% block header_items %}
    <li class="pure-menu-item">
        {% if userName != null %}
            <a href="/profile" class="header-signin-link pure-menu-link user-icon">
                <i class="fa fa-user"> Profile</i></a>
            <a href="/signout" class="header-signin-link pure-menu-link sign-out-icon">
                <i class="fa fa-sign-out">Sign Out</i></a>
        {% else %}
            <a href="/registration" class="header-signup-link pure-menu-link">Registration
                <i class="fa fa-user-plus"></i></a>
            <a href="{{ path('signin', {'page': 'events'}) }}" class="header-signin-link pure-menu-link">Sign In
                <i class="fa fa-sign-in"></i></a>
        {% endif %}
    </li>
{% endblock %}

{% block header_img %}
    <img src="img/header.jpg" height="250" width="1220"/>
{% endblock %}

{% block content %}

    {% for item in places %}
        <div class="post-item">
            <div>
                <h2>{{ item.getName() }}
                    {% if item.getEnglishName() != '0' %}
                        - {{ item.getEnglishName() }}
                    {% endif %}
                </h2>
            </div>
            <div>
                <img class="post-image" width="362", height="212" src="img/img-places/{{ item.getFotoName() }}"/>
            </div>
            <div>
                {% if item.getCountry() != '0' %}
                    <b>Country: </b>{{ item.getCountry() }}
                {% endif %}
            </div>
            <div>
                {% if item.getRegion() != '0' %}
                    <b>Region: </b>{{ item.getRegion() }}
                {% endif %}
            </div>
            <div>
                {% if item.getCity() != '0' %}
                    <b>City: </b>{{ item.getCity() }}
                {% endif %}
            </div>
            <div>
                <b>Description: </b>{{ item.getShortDescription() }}
                <a href="{{ path('place', {'id': item.getId()}) }}"
                   class="page-number pure-menu-link">More information...
                </a>
            </div>
            <div class="clear">
            </div>
        </div>
    {% endfor %}

    <div class="clear"></div>
{% endblock %}

{% block pages_list %}
    <div class="pure-menu pure-menu-horizontal" align="center">
        {% if pages_count == '1' %}
            <a href="{{ path('searchResults', {'page': pages_count}) }}"
               class="page-number pure-menu-item pure-menu-link">{{ pages_count }}</a>
        {% endif %}
        {% for number in pages_count %}
            <a href="{{ path('searchResults', {'page': number}) }}"
               class="page-number pure-menu-item pure-menu-link">{{ number }}</a>
        {% endfor %}
    </div>
{% endblock %}