{% extends 'templates/header-footer.twig' %}
{% block title %}
    Add event
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/news.css"/>
{% endblock %}

{% block header_img %}
    <img src="img/event-header.jpg" height="250" width="1220"/>
{% endblock %}

{% block header_items %}
    <li class="pure-menu-item">
        {% if userName != null %}
            <a href="/profile" class="header-signin-link pure-menu-link user-icon">
                <i class="fa fa-user"> Profile</i></a>
            <a href="/signout" class="header-signin-link pure-menu-link sign-out-icon">
                <i class="fa fa-sign-out">Sign Out</i></a>
        {% else %}
            <a href="/registration" class="header-signup-link pure-menu-link">Registration
                <i class="fa fa-user-plus"></i></a>
            <a href="/signin" class="header-signin-link pure-menu-link">Sign In
                <i class="fa fa-sign-in"></i></a>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <div class="news-form">
    {{ form_start(form,{'attr':{'class':'pure-form pure-form-aligned'}}) }}
    <div class="signup-errors">{{ form_errors(form) }}</div>
    <div class="form-item">{{ form_row(form.title, {'attr':{'class':'pure-control-group'}}) }}</div>
    <div class="form-item">{{ form_row(form.short, {'attr':{'class':'pure-control-group textarea-short'}}) }}</div>
    <div class="form-item">{{ form_row(form.full, {'attr':{'class':'pure-control-group textarea-full'}}) }}</div>
        <div class="form-item">{{ form_row(form.imageName, {'attr':{'style':'display: none','onclick':'fill'}}) }}</div>
        <input type="button" class="pure-button" value="Browse..." onclick="document.getElementById('form_imageName').click();" />
    <div align="right">{{ form_row(form.save, {'attr':{'class':'pure-button'}}) }}</div>
    {{ form_end(form) }}
    </div>
{% endblock %}