{% extends 'templates/header-footer.twig' %}
{% block title %}
    Add place
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/addplace.css"/>
{% endblock %}

{% block header_img %}
    <img src="img/places-header.png" height="400" width="1220"/>
{% endblock %}

{% block header_items %}
    <li class="pure-menu-item">
        {% if userName != null %}
            <a href="/profile" class="header-signin-link pure-menu-link user-icon">
                <i class="fa fa-user"> Profile</i></a>
            <a href="/signout" class="header-signin-link pure-menu-link sign-out-icon">
                <i class="fa fa-sign-out">Sign Out</i></a>
        {% else %}
            <a href="/registration" class="header-signup-link pure-menu-link">Registration
                <i class="fa fa-user-plus"></i></a>
            <a href="/signin" class="header-signin-link pure-menu-link">Sign In
                <i class="fa fa-sign-in"></i></a>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <div class="place-form">
    {{ form_start(form,{'attr':{'class':'pure-form pure-form-aligned'}}) }}
    <div class="signup-errors">{{ form_errors(form) }}</div>
        {% for field in form.name %}
            <div class="form-item">
                {{ form_row(field.name, {'attr':{'class':'pure-control-group'}}) }}
            </div>
            {{ form_row(field.name, {'attr':{'class':'pure-control-group'}}) }}
        {% endfor %}
       
    {{ form_end(form) }}
    </div>
{% endblock %}