{% extends 'templates/header-footer.twig' %}
{% block title %}
    Events
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/news.css"/>
{% endblock %}

{% block header_items %}
    <li class="pure-menu-item">
        {% if userName != null %}
            <a href="/profile" class="header-signin-link pure-menu-link user-icon">
                <i class="fa fa-user"> Profile</i></a>
            <a href="/signout" class="header-signin-link pure-menu-link sign-out-icon">
                <i class="fa fa-sign-out">Sign Out</i></a>
        {% else %}
            <a href="/registration" class="header-signup-link pure-menu-link">Registration
                <i class="fa fa-user-plus"></i></a>
            <a href="{{ path('signin', {'page': 'events'}) }}" class="header-signin-link pure-menu-link">Sign In
                <i class="fa fa-sign-in"></i></a>
        {% endif %}
    </li>
{% endblock %}

{% block header_img %}
    <img src="img/event-header.jpg" height="250" width="1220"/>
{% endblock %}

{% block content %}
    <div class="header-news">
        <h2 class="title">Events are comming</h2>
        {% if userName != null %}
            <div class="actions" align="right">
                <a href="/addevent" class="pure-menu-link fa fa-plus"></a>
            </div>
        {% endif %}
    </div>

    {% for item in posts %}
        <div class="post-item">
            <div>
                <h3>{{ item.getTitle() }}</h3>
            </div>
            <div>
                <img class="post-image" width=250 height=141 src="img/events/{{ item.getImageName() }}"/>
            </div>
            <div>
                {% if item.getShort() != '0' %}
                    <b>Short description: </b>{{ item.getShort() }}
                {% endif %}
            </div>
            <div>
                <a href="{{ path('event', {'id': item.getId()}) }}"
                   class="page-number pure-menu-link">More information...
                </a>
            </div>
            <div class="clear">
            </div>
        </div>
    {% endfor %}

    <div class="clear"></div>
{% endblock %}

{% block pages_list %}
    <div class="pure-menu pure-menu-horizontal" align="center">
        {% if pages_count == '1' %}
            <a href="{{ path('events', {'page': pages_count}) }}"
               class="page-number pure-menu-item pure-menu-link">{{ pages_count }}</a>
        {% endif %}
        {% for number in pages_count %}
            <a href="{{ path('events', {'page': number}) }}"
               class="page-number pure-menu-item pure-menu-link">{{ number }}</a>
        {% endfor %}
    </div>
{% endblock %}