{% extends 'templates/header-footer.twig' %}
{% block title %}
    {{ item.getTitle() }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/news.css"/>
    <link rel="stylesheet" href="css/newitem.css"/>
    <link rel="stylesheet" href="css/comment.css"/>
{% endblock %}

{% block header_items %}
    <li class="pure-menu-item">
        {% if userName != null %}
            <a href="/profile" class="header-signin-link pure-menu-link user-icon">
                <i class="fa fa-user"> Profile</i></a>
            <a href="/signout" class="header-signin-link pure-menu-link sign-out-icon">
                <i class="fa fa-sign-out">Sign Out</i></a>
        {% else %}
            <a href="/registration" class="header-signup-link pure-menu-link">Registration
                <i class="fa fa-user-plus"></i></a>
            <a href="/signin" class="header-signin-link pure-menu-link">Sign In
                <i class="fa fa-sign-in"></i></a>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <div class="post-item">
        <div>
            <h1>{{ item.getTitle() }}
            </h1>
        </div>
        <div class="post-item-field">
            <img class="post-image" width=250 height=141 src="img/news/{{ item.getImageName() }}"/>
        </div>
        <div class="post-item-field">
            <b>Intro: </b>{{ item.getShort() }}
        </div>
        <div class="post-item-field">
           <b>Content: </b>{{ item.getFull() }}
        </div>
        <div class="clear"></div>
    </div>
    <div class="comments">
        <h2 align="center">Comments, impressions, opinions...    </h2>

        <div class="new-comment" align="center">
            {% if userName != null %}
                {{ form_start(form,{'attr':{'class':'pure-form pure-form-aligned'}}) }}
                <div class="form-item">{{ form_row(form.impressions, {'attr':{'class':'pure-control-group'}}) }}</div>
                <div class="form-item">{{ form_row(form.advantages, {'attr':{'class':'pure-control-group'}}) }}</div>
                <div class="form-item">{{ form_row(form.disadvantages, {'attr':{'class':'pure-control-group'}}) }}</div>
                <div class="form-item">Rate:
                    <div class="rating">
                        <input class="rating-hidden" type="hidden" name="rate" value="1"/>
                        <span data-rate="5">☆</span>
                        <span data-rate="4">☆</span>
                        <span data-rate="3">☆</span>
                        <span data-rate="2">☆</span>
                        <span data-rate="1">☆</span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.rating span').click(function(){
                            $('.rating-hidden').val($(this).attr('data-rate'));
                            $(this).addClass('active');
                            $(this).nextAll('span').addClass('active');

                            $(this).prevAll('span').removeClass('active');
                        });
                    })
                </script>
                <div>{{ form_row(form.save, {'attr':{'class':'pure-button '}}) }}</div>
                {{ form_end(form) }}
                <script>
                    function rate(){
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function(){
                            if(xhttp.readyState = 4 && xhttp.status == 200){
                                Document.getElementById("1").innerHTML='fff';
                            }
                        };
                        var url = '{{ item.getId() }}';
                        xhttp.open("GET", '/place='.concat(url), true);
                        xhttp.send();
                    }
                </script>
            {% else %}
                <a class="pure-menu-link" href="{{ path('signin', {'page': "place=#{item.getId()}"}) }}">
                    <h5 align="center"><b>Sign In to add your comment...</b></h5>
                </a>
            {% endif %}
        </div>

        <div class="posted-comments">
            {% for comment in item.getComments() %}
                <div class="posted-comment">
                    <div>
                        {% if comment.getAutor != null %}
                            <b>Author</b>:{{  comment.getAutor().getUserName() }}
                        {% endif %}
                        <div style="float:right;"><b>{{  comment.getAddTime|date('Y-m-d H:i:s') }}  </b></div>
                    </div>
                    <div> <b>Impressions:</b> {{ comment.getImpressions() }}   </div>
                    <div> <b>Advantages:</b> {{ comment.getAdvantages() }}   </div>
                    <div> <b>Disadvantages:</b> {{ comment.getDisadvantages() }}   </div>
                    <div> <b>Rate:</b> {{ comment.getRate()}}</div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}