{% extends 'templates/header-footer.twig' %}
{% block title %}
    Places
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/places.css"/>
{% endblock %}

{% block header_items %}
    <li class="pure-menu-item">
        {% if userName != null %}
            <a href="/profile" class="header-signin-link pure-menu-link user-icon">
                <i class="fa fa-user"> Profile</i></a>
            <a href="/signout" class="header-signin-link pure-menu-link sign-out-icon">
                <i class="fa fa-sign-out">Sign Out</i></a>
        {% else %}
            <a href="/registration" class="header-signup-link pure-menu-link">Registration
                <i class="fa fa-user-plus"></i></a>
            <a href="{{ path('signin', {'page': 'places'}) }}" class="header-signin-link pure-menu-link">Sign In
                <i class="fa fa-sign-in"></i></a>
        {% endif %}
    </li>
{% endblock %}

{% block header_img %}
    <img src="img/places-header.png" height="370" width="1220"/>
{% endblock %}

{% block content %}
    <div class="header-places">
        <h2 class="title">Best places for tourism</h2>
        {% if userName != null %}
            <div class="actions" align="right">
                <a href="/addplace" class="pure-menu-link fa fa-plus"></a>
            </div>
        {% endif %}
    </div>
    {% for item in items %}
        <div class="post-item">
            <div>
                <h2>{{ item.getName() }}
                    {% if item.getEnglishName() != '0' %}
                        - {{ item.getEnglishName() }}
                    {% endif %}
                </h2>
            </div>
            <div>
                <img class="post-image" width="362", height="212" src="img/img-places/{{ item.getFotoName() }}"/>
            </div>
            <div>
                {% if item.getCountry() != '0' %}
                    <b>Country: </b>{{ item.getCountry() }}
                {% endif %}
            </div>
            <div>
                {% if item.getRegion() != '0' %}
                    <b>Region: </b>{{ item.getRegion() }}
                {% endif %}
            </div>
            <div>
                {% if item.getCity() != '0' %}
                    <b>City: </b>{{ item.getCity() }}
                {% endif %}
            </div>
            <div>
                <b>Description: </b>{{ item.getShortDescription() }}
                <a href="{{ path('place', {'id': item.getId()}) }}"
                   class="page-number pure-menu-link">More information...
                </a>
            </div>
            <div class="clear">
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block pages_list %}
    {% if pages_count == '1' %}
        <a href="{{ path('places', {'page': pages_count}) }}"
           class="page-number pure-menu-item pure-menu-link">{{ pages_count }}</a>
    {% endif %}
    <div class="pure-menu pure-menu-horizontal" align="center">
        {% for number in pages_count %}
            <a href="{{ path('places', {'page': number}) }}"
               class="page-number pure-menu-item pure-menu-link">{{ number }}</a>
        {% endfor %}
    </div>
{% endblock %}