{% extends 'templates/header-footer.twig' %}
{% block title %}
    {% if item.getEnglishName() != '0' %}
        {{ item.getEnglishName }}
    {% else %}
        {{ item.getName() }}
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/places.css"/>
    <link rel="stylesheet" href="css/place.css"/>
    <link rel="stylesheet" href="css/comment.css"/>
{% endblock %}

{% block header_items %}
    <li class="pure-menu-item">
        {% if userName != null %}
            <a href="/profile" class="header-signin-link pure-menu-link user-icon">
                <i class="fa fa-user"> Profile</i></a>
            <a href="/signout" class="header-signin-link pure-menu-link sign-out-icon">
                <i class="fa fa-sign-out">Sign Out</i></a>
        {% else %}
            <a href="/registration" class="header-signup-link pure-menu-link">Registration
                <i class="fa fa-user-plus"></i></a>
            <a href="/signin" class="header-signin-link pure-menu-link">Sign In
                <i class="fa fa-sign-in"></i></a>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <div class="post-item">

        <div>
            <h1>{{ item.getName() }}
                {% if item.getEnglishName() != '0' %}- {{ item.getEnglishName() }}{% endif %}
            </h1>
        </div>

        <div class="post-item-field">
            <img class="post-image" width="362", height="212" src="img/img-places/{{ item.getFotoName() }}"/>
        </div>
        <div class="post-item-field">
            {% if item.getAddress() != '0' and item.getAddress() != ''%}<b>Address: </b>{{ item.getAddress() }}{% endif %}
        </div>
        <div class="post-item-field">
            {% if item.getCountry() != '0' and item.getCountry() != ''%}<b>Country: </b>{{ item.getCountry() }}{% endif %}
        </div>
        <div class="post-item-field">
            {% if item.getRegion() != '0' and item.getRegion() != ''%}<b>Region: </b>{{ item.getRegion() }}{% endif %}
        </div>
        <div class="post-item-field">
            {% if item.getCity() != '0'and item.getCity() != ''%}<b>City: </b>{{ item.getCity() }}{% endif %}
        </div>
        <div class="post-item-field">
            {% if item.getEmail() != '0' and item.getEmail() != ''%}<b>E-mail: </b>{{ item.getEmail() }}{% endif %}
        </div>
        <div class="post-item-field">
            {% if item.getWebPage() != '0' and item.getWebPage() != '' %}<b>WebPage: </b>
                <a href="{{ item.getWebPage() }}">{{ item.getWebPage() }}</a>{% endif %}
        </div>
        <div class="post-item-field">
            {% if item.getTelephoneNumber() != '0' and item.getTelephoneNumber() != ''%}<b>Telephone: </b>{{ item.getTelephoneNumber() }}
            {% endif %}
        </div>
        <div class="post-item-field">
            <b>Description: </b>{{ item.getDescription() }}
        </div>
        <div class="clear"></div>
    </div>

    <div id="map" class="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/markerclusterer.js"></script>
    <script type="text/javascript">
        var map;
        var marker;
        
        function initialize() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                center: new google.maps.LatLng({{ cord_a }}, {{ cord_b }}),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ cord_a }}, {{ cord_b }}),
                title: 'Hello World!',
                map: map
            });
        }
        
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div class="comments">
        <h2 align="center">Comments, impressions, opinions...    </h2>

        <div class="new-comment" align="center">
            {% if userName != null %}
                {{ form_start(form,{'attr':{'class':'pure-form pure-form-aligned'}}) }}
                <div class="form-item">{{ form_row(form.impressions, {'attr':{'class':'pure-control-group'}}) }}</div>
                <div class="form-item">{{ form_row(form.advantages, {'attr':{'class':'pure-control-group'}}) }}</div>
                <div class="form-item">{{ form_row(form.disadvantages, {'attr':{'class':'pure-control-group'}}) }}</div>
                <div class="form-item">Rate:
                    <div class="rating">
                        <input class="rating-hidden" type="hidden" name="rate" value="1"/>
                        <span data-rate="5">☆</span>
                        <span data-rate="4">☆</span>
                        <span data-rate="3">☆</span>
                        <span data-rate="2">☆</span>
                        <span data-rate="1">☆</span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.rating span').click(function(){
                            $('.rating-hidden').val($(this).attr('data-rate'));
                            $(this).addClass('active');
                            $(this).nextAll('span').addClass('active');

                            $(this).prevAll('span').removeClass('active');
                        });
                    })
                </script>
                <div>{{ form_row(form.save, {'attr':{'class':'pure-button '}}) }}</div>
                {{ form_end(form) }}
                <script>
                    function rate(){
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function(){
                            if(xhttp.readyState = 4 && xhttp.status == 200){
                                Document.getElementById("1").innerHTML='fff';
                            }
                        };
                        var url = '{{ item.getId() }}';
                        xhttp.open("GET", '/place='.concat(url), true);
                        xhttp.send();
                    }
                </script>
            {% else %}
                <a class="pure-menu-link" href="{{ path('signin', {'page': "place=#{item.getId()}"}) }}">
                    <h5 align="center"><b>Sign In to add your comment...</b></h5>
                </a>
            {% endif %}
        </div>
        
        <div class="posted-comments">
              {% for comment in item.getComments() %}
                  <div class="posted-comment">
                      <div>
                  {% if comment.getAutor != null %}
                  <b>Author</b>:{{  comment.getAutor().getUserName() }}
                    {% endif %}
            <div style="float:right;"><b>{{  comment.getAddTime|date('Y-m-d H:i:s') }}  </b></div>
                      </div>
                  <div> <b>Impressions:</b> {{ comment.getImpressions() }}   </div>
                  <div> <b>Advantages:</b> {{ comment.getAdvantages() }}   </div>
                  <div> <b>Disadvantages:</b> {{ comment.getDisadvantages() }}   </div>
                  <div> <b>Rate:</b> {{ comment.getRate()}}</div>
                  </div>
              {% endfor %}
        </div>
    </div>

{% endblock %}